# SPDX-License-Identifier: GPL-2.0-only

menuconfig RUFS
       tristate "Rust UFS host controller driver"
       depends on RUST && PCI
       help
        Enables the Rust UFS host controller driver (experimental).
